// Font Colors //
$paragraph-text: #323232;
$button-color: #d46240;
$label-color: #2f906a;
$background-fill: #fbf2da;
$alt-color: #152b3c;

// Typography //
$regular-text: 'WorkSans-Regular';
$bold-text: 'WorkSans-Bold';
$demi-text: 'WorkSans-SemiBold';

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
