// Font Colors //
$paragraph-text: #323232;
$button-color: #D46240;
$label-color:#2F906A;
$background-fill: #FBF2DA;
$alt-color: #152B3C;

// Typography //
$regular-text: "WorkSans-Regular";
$bold-text: "WorkSans-Bold";
$demi-text: "WorkSans-SemiBold";